{
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "extends": [
    "react-app",
    "airbnb",
    "prettier"
  ],
  "plugins": [
    "jsx-a11y",
    "prettier"
  ],
  "rules": {
    "prettier/prettier": ["error", {
      "singleQuote": true,
      "tabWidth": 2,
      "trailingComma": "all"
    }]
  }
}
